{% extends 'condole/index.html' %}
{% load static %} 
{% block content %}

<div class="deaths">
  <h4>Recent Deaths</h4>
  <div class="row deaths__container mb-3 mx-3">
  {% for death in deaths %}
  <div class="death">
    <div class="death__metadata">
      <p class="death__name">{{ death.name }}</p> 
      <p>{{ death.birth_year }} - {{death.death_year}}</p>
    </div>
    
    <p>{{ death.description }}</p>

    <a href="{% url 'detail' death.slug %}">See more details</a>
  </div>
  {% endfor %}
</div>

</div>

{% endblock content %}