{% extends 'condole/index.html' %} 
{% load static %}
{% load crispy_forms_tags %} 
{% block content %}

<div class="details">
    <div class="detail">
        <p class="detail__title">{{ death.name }} died at the age of {{ death.age }} years</p>
        <p class="detail__description">{{ death.description }}</p>
        <a href="{% url 'leave-message' death.id %}">Leave a tribute</a>
    </div>
    

    <div class="row message__container mb-3 mx-3">
        <h5>Recent Condolences</h5>  
        {% for message in messages %}
        <div class="message">
            <div class="message__description">
                <p ><span class="message__name">{{ message.name }}</span> ▪ {{ message.created_at|date:"d.m.y" }}</p>
                <p>{{ message.message }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

</div>



{% endblock content %}