{% extends 'condole/index.html' %} 
{% load static %}
{% load crispy_forms_tags %} 
{% block content %}

<div class="details">
    <div class="detail">
        <div class="detail__metadata">
            <p class="detail__name">{{ death.name }}</p>
            <p class="detail__period"><span class="detail__period-highlight">Born:</span> {{death.birth_year}} - <span class="detail__period-highlight">Died:</span> {{death.death_year}}</p>
        </div>
        
        <p class="detail__description">{{ death.description }}</p>
        <a class="leave-message-link" href="{% url 'leave-message' death.slug %}">Leave a tribute</a>
    </div>
    

    <div class="row message__container mb-3 mx-3">
        {% if messages %}
            <h5>Recent Condolences</h5>  
            {% for message in messages %}
            <div class="message">
                <div class="message__description">
                    <p ><span class="message__name">{{ message.name }}</span> ▪ {{ message.created_at|date:"d.m.y" }}</p>
                    <p>{{ message.message }}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h5>No condolence messages. Be first to <a class="leave-message-link" href="{% url 'leave-message' death.slug %}">send one</a>.</h5>
        {% endif %}
    </div>

</div>



{% endblock content %}