@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Varela', sans-serif;
    background-color: #222831;
    color: white;
    
}

.create{
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.create > form{
    background: white;
    color: #120078;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.message__container{
    display: flex;
    justify-content: center;
}

.message{
    background: #476CE4;
    color: #fff;
    margin: 5px;
    box-shadow: 0px 2px 5px -1px black;
    border-radius: 3px;
    padding: 30px;
    width: 400px;
}

.message__description{
    display: flex;
    align-items: baseline;
}

.message__description > i{
    font-size: 30px;
    color: #3E56A2;
    margin: 0 20px;
    
}

.message > p{
    line-height: 1.2;
}

.message__name{
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    color: #3E56A2;
    margin: 0 20px;
}