@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Archivo', sans-serif;
    background-color: white;
    color: #222831;
    
}

.container{
    margin: auto;
}

/* INDEX */
nav{
    position: sticky;
}
/*  */

.create{
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.create > form{
    background: white;
    color: #120078;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}
/* CONDOLENCE MESSAGES */

/* DEATHS TEMPLATE */
.deaths{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.death{
    border-bottom: 1px solid lightgray;
    padding: 10px 0px;
}

.death__metadata{
    display: flex;
}

.death__metadata > p{
    margin-right: 10px;
    font-size: 19px;
}

.death__name{
    font-weight: 500;
}

.death > a{
    text-decoration: none;
    /* font-weight: 500; */
    
}

.death > a:hover{
    color: #223fe7;
}

/* DETAIL TEMPLATES */

.detail__metadata{
    display: flex;
    align-items: baseline;
}

.detail__metadata > p{
    margin-right: 10px;
}


.detail__name{
    font-size: 20px;
    font-weight: 500;
}

.detail__period-highlight{
    font-weight: 500;
}

.leave-message-link{
    text-decoration: none;
    font-weight: 500;
}

.message__container > h5{
    margin-top: 30px;
}

.message{
    border-left: 2px solid #00303f;
    margin-bottom: 10px;
}

.message__name{
    font-size: 19px;
    font-weight: 500;
}

/*  */