@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Cairo', sans-serif;
    background-color: white;
    color: #222831;
    
}

.container{
    margin: auto;
}

.create{
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.create > form{
    background: white;
    color: #120078;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}
/* CONDOLENCE MESSAGES */

/* DEATHS TEMPLATE */
.deaths{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.death{
    border-bottom: 1px solid lightgray;
}

.death > a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    font-size: 19px;
}

.death > a:hover{
    color: #727272;
}

/* DETAIL TEMPLATES */

.detail__title{
    font-size: 27px;
    font-weight: 600;
}


.detail > a{
    text-decoration: none;
    font-weight: 500;
}

.message__container > h5{
    margin-top: 40px;
}

.message{
    border-left: 2px solid #00303f;
    margin-bottom: 10px;
}

.message__name{
    font-size: 19px;
    font-weight: 500;
}

/*  */